*.py[cod]
*.egg-info
*.eggs
.ipynb_checkpoints

build
dist
.cache
__pycache__

.streamlit/secrets.toml
audio_storage/*
temp_audio/*

htmlcov
.coverage
coverage.xml
.pytest_cache

docs/_build
docs/apidocs
public

# ide
.eclipse
.idea
*.swo
*.swp
.vscode

# Mac
.DS_Store

# pyenv
.python_version

# virtualenvs
.venv
venv
